{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Parent template styles -->
    {{ parent() }}

    <!-- Homepage styles -->

{#    <link rel="stylesheet" href="{{ asset('css/home.css') }}">#}
{% endblock %}

{% block title %}
    {{ parent() }} - {{ post.title }}
{% endblock %}

{% block body %}

    <h2>{{ post.title }}</h2>
    <p>{{ post.category.name }}</p>
    <p class="lead">Créé par {{ post.author }} le {{ post.createdAt|date('d/m/Y') }}</p>

    <img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid rounded">


    <p class="lead">{{ post.content }}</p>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Envoyer" class="btn btn-primary">
    {{ form_end(form) }}

    {% else %}
        <p>Pour poster un commentaire, <a href="{{ path('security.login') }}">
                connectez-vous</a> ou <a href="#">créez un compte</a>.</p>
    {% endif %}


    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-3" role="alert">{{ message }}</div>
    {% endfor %}
    {% if post.comments|length == 0 %}
        <p>Soyez le premier à commenter cet article!</p>
    {%  else %}
        <ul>
            {% for comment in post.comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Ajouté par Posté par {{ comment.user.firstname }} {{ comment.user.firstname }}
                            le {{ comment.createdAt|date("d/m/Y", 'Europe/Paris') }}
                            à {{ comment.createdAt|date("H:m", 'Europe/Paris') }}
                        </h4>
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}